@import url("./layout/_grid.css");
@import url("../../assets/css/base/_fonts.css");
@import url("../../assets/css/base/_typography.css");
@import url("../../assets/css/layout/_bakery.css");
@import url("../../assets/css/layout/_production-lines.css");
@import url("../../assets/css/layout/_store.css");

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/images/bg-blue.jpg");
    background-size: cover;
    font-family: merriweather, serif;
    user-select: none;
}
