@import url("./layout/_grid.css");
@import url("/assets/css/base/_fonts.css");
@import url("/assets/css/base/_typography.css");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/images/bg-blue.jpg");
    background-size: cover;
    font-family: merriweather, serif;
    user-select: none;
}

/*****************************Section Production*******************************************/
#production{
    overflow-y: scroll;
}

#production h2{
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
}

#production hr{
    background-image: url('../images/panel-horizontal.png');
    height: 16px;
}

#hr2{
    margin-top: 15px;
}
/*************************^Fin Section Production^******************************************/
/******** Debut section store****/

#store {
    padding-top: 15px;
    overflow-y : scroll;
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.4), rgba(0,0,0,0.9) );
}

#buildings{
    background-image: url(/assets/images/panel-horizontal.png);
    margin-top: 15px;
    min-height: 16px;
    transition: all 5s;
}

#buildings:hover::before{
    content: "Buildings";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black, 0px 1px 4px black ;
   
    
}




/********** fin section store*******/