#production {
    overflow-y: scroll;
}

#production h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
}

#production hr {
    background-image: url('../../images/panel-horizontal.png');
    height: 16px;
}

#hr2 {
    margin-top: 15px;
}

#production-grandma{
    background-image: url('../../images/grandma-background.png');
    height: 128px;
    position: relative;
}

.grandma{
    background-image: url('../../images/grandma.png');
    width: 64px;
    height: 64px;
    position: absolute;
}

.grandma:nth-of-type(1){
    top : 10px;
}

.grandma:nth-of-type(2){
    left: 10px;
    top : 30px
}

.grandma:nth-of-type(3){
    left: 20px;
    top : 50px
}

#production-farm{
    background-image: url('../../images/farm-background.png');
    height: 128px;
}

#production-mine{
    background-image: url('../../images/mine-background.png');
    height: 128px;
}

#production-factory{
    background-image: url('../../images/factory-background.png');
    height: 128px;
}