#store {
    padding-top: 15px;
    overflow-y: scroll;
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.4), rgba(0,0,0,0.9) );
}

#buildings {
    background-image: url('../../images/panel-horizontal.png');
    margin-top: 15px;
    min-height: 16px;    
}

#buildings::before{
    margin-top: -15px;
    opacity: 0;
    content: "Buildings";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black, 0px 1px 4px black ;
    transition: 0.75s;   
}

#buildings:hover::before {
    opacity : 1; 
}

#buildings > *:hover{
    box-shadow: inset 0px 0px 15px 3px #ffffff;
}

#buildings > * {
    background-image: url('../../images/store-tile.jpg');
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon{
    background-image: url("../../images/buildings.png");
    background-position-x: -60px;
    height: 58px;
    width: 70px;
}

#building-grandma .icon {
    background-position-y: -70px;
}

#building-farm .icon {
    background-position-y: -190px;
}

#building-mine .icon {
    background-position-y: -260px;
}

#building-factory .icon {
    background-position-y: -320px;
}

.box{
    display: flex;
    flex-direction: column;
}


.name {
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0px 0px 4px #000000, 0px 1px 4px #000000;
}

.cost {
    background: url("../../images/money.png") no-repeat;
    font-size: 0.7em;
    color: #66ff66;
    text-shadow: 0px 0px 4px #000000, 0px 1px 4px #000000;
    width : 15vh;
    text-align: center;
}

.disabled .cost{
    color: #ff6666;
}

.disabled{
    filter: brightness(80%);
}