#store {
    padding-top: 15px;
    overflow-y: scroll;
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.4), rgba(0,0,0,0.9) );
}

#buildings {
    background-image: url('../../images/panel-horizontal.png');
    margin-top: 15px;
    min-height: 16px;
}

#buildings:hover::before {
    content: "Buildings";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black, 0px 1px 4px black ;
    transition: 3s ease;
}

#buildings > * {
    background-image: url('../../images/store-tile.jpg');
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

#building-cursor .icon {
    background-image: url("../../images/buildings.png");
    background-position-x: -60px;
    height: 58px;
    width: 60px;
}

#building-grandma .icon {
    background-image: url("../../images/buildings.png");
    background-position-x: -60px;
    background-position-y: -70px;
    height: 58px;
    width: 70px;
}

#building-farm .icon {
    background-image: url("../../images/buildings.png");
    background-position-x: -60px;
    background-position-y: -190px;
    height: 58px;
    width: 70px;
}

#building-mine .icon {
    background-image: url("../../images/buildings.png");
    background-position-x: -60px;
    background-position-y: -260px;
    height: 58px;
    width: 60px;
}

#building-factory .icon {
    background-image: url("../../images/buildings.png");
    background-position-x: -60px;
    background-position-y: -320px;
    height: 58px;
    width: 70px;
}

.name {
    font-size: 1.3em;
}

.cost {
    background: url('../../images/money.png') no-repeat;
    align-self: flex-end;
    font-size: 0.7em;
    color: #66ff66;
}